<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Tienda Genérica | Usuarios</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link href="../static/styles.css" rel="stylesheet" th:href="@{/styles.css}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<br>
			<h2 th:if="${#lists.isEmpty(list)}">No hay usuarios</h2>
			<div th:if="${not #lists.isEmpty(list)} ">
				<h2>Usuarios</h2>
				<div class="d-flex justify-content-end">
					<a href="/save-usuario/0" class="btn btn-primary"><label><i class="fas fa-plus"></i></label> Agregar</a>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Cedula</th>
							<th>Nombre</th>
							<th>Email</th>
							<th>Usuario</th>
							<th>Password</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuario : ${list}">
							<td th:text="${usuario.cedulaUsuario}">
							<td th:text="${usuario.nombre}">
							<td th:text="${usuario.emailUsuario}">
							<td th:text="${usuario.user}">
							<td th:text="${usuario.password}">
							<td><a class="btn btn-warning" th:href="@{/save/{id}(id=${usuario.id})}"><i class="far fa-edit"></i></a></td>
							<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${usuario.id})}"><i class="far fa-trash-alt"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
</body>
</html>